<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
<stringAttribute key="antlr4.arguments" value="-listener -visitor -encoding UTF-8 -o target/com/forge/fex/verilogprime/gen -package com.forge.fex.verilogprime.gen"/>
<stringAttribute key="antlr4.grammar" value="/forge/grammar/VerilogPrimeParser.g4"/>
<stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
